div {
    height: 40px;
    width: 300px;
    border: 5px dashed black;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 2rem;
  }
  
  div#until-found-box {
    color: red;
    border: 5px dotted red;
    background-color: lightgray;
  }
  