html{
    font-size: 62.5%;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
/* Navbar */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    margin: 4em;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 4em;
    margin: 0;
}
ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
}
.active:before {
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid green;
    bottom: -6px;
    font-weight: bold;
}
.nav-link:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 2px solid gray ;
    bottom: -6px;
    transition: width 0.5s;
}
.nav-link:hover:before {
    width: 50%;
}
/* End Navbar */


.bold{
    font-weight: bold;
}

.house-design{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    display: grid;
    gap: 1rem;
}
.card-img{
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}   

//